html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#main, #main > div {
  height: 100%;
}

svg {
  background: white url('dots-bg.png')
}

svg text {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg text::selection {
    background: none;
}

g.link:hover .link-line {
  animation-play-state: running;
  opacity: 0.4;
}

g.link .link-stripe {
  opacity: 0.75;
}

g.link .link-line {
  opacity: 0;
  animation-name: movelink;
  animation-play-state: paused;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

g.link.output .link-line {
  animation-direction: reverse;
}

@keyframes movelink {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 30px; }
}

.main-ui {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 20px;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.time-control button {
  font-size: 24px;
  background: none;
  border: none;
  margin: auto 3px;
}

.settings-control {
  float: left;
  font-size: 16px;
}

.settings-control input {
  font-size: 24px;
}

.about-panel {
  float: right;
}