html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#main, #main > div {
  height: 100%;
}

svg text {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg text::selection {
    background: none;
}

g.link:hover .link-line {
  animation-play-state: running;
  opacity: 0.4;
}

g.link .link-stripe {
  opacity: 0.75;
}

g.link .link-line {
  opacity: 0;
  animation-name: movelink;
  animation-play-state: paused;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

g.link.input .link-line {
  animation-direction: reverse;
}

@keyframes movelink {
    0% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 30px; }
}


.time-control button {
  font-size: 24px;
  background: none;
  border: none;
  margin: auto 3px;
}